<html>

<head>

<title>Welcome ~ Anthology of Booty</title>

<link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='aob.css')}}">


</head>

<body>

<div id = "navigation_bar"><h1>Dancefloor Planet!</h1><h4>with Anthology of Booty</h4>

<ul>
<li>origin story</li>
<a href="{{ url_for('add_user')}}"><li>Add Your Name</li></a>
<li>hit us up</li>
</ul>

<br>

</div>

{% for user in users %}
{%for post in posts %}
<!--<div{%if user.author == "Indanile" %} id = "content" {% else %} id="content_alternative" {% endif %}>-->

<p><p><span class = "post_heading">{{user.dj_name}}
</p> 
</span> 

<br>{{user.firstname}} {{user.lastname}}

Posted by {{user.dj_name}} {{post.date_posted}}


<p>{{post.content}}</p><p>

</div>

<br>
<h4>Leave a message:</h4>
{{post.comment}}</p>
<br>

{% endfor %}
{% endfor %}
</body>

<html>